body{
    background-color: #2B2B2B;
}

#level-up {
    opacity: 0;
    transition: opacity 0.5s ease;
}

#txtLvl {
    opacity: 0;
    transition: opacity 0.5s ease;
}

#txtEff {
    opacity: 0;
    transition: opacity 0.5s ease;
}

#boost {
    opacity: 0;
    transition: opacity 0.5s ease;
}

p {
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin: 10px;
}